{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<style type="text/css">
	body{
		    background-image: url('/static/images/texture.png');
	}
</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="margin-left: 20px;font-size: 30px;color: white">Product Search Review</h1>
    <div class="form">
        <form action="/review" method="POST">
        	<div style="float: left;margin-right: 1px">
            <input type="text" name="content" id="content" placeholder='Enter the Product'>
            </div>
            <div style="float: left; margin-right: 40px">
            <input type="text" name="nos_review" id="nos_review" placeholder='Number of reviews' size="15">
            </div>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<img src="/static/images/home.jpeg" width="900"height="575" style="margin-right:150px;margin-left: 300px;margin-top: 50px">
{% endblock %}